/*place global styles here */
html, body { @apply h-full overflow-hidden; }


 .tabulator * {
  @apply bg-surface-50-900-token text-base-token dark:text-dark-token !important;
  }

.tabulator-page-size {
  @apply w-14 !important
}

.tabulator-paginator  {
  @apply  flex items-center justify-end !important
}

 .tabulator-menu-item  {
  @apply bg-surface-50-900-token dark:text-dark-token !important;
  }
